# To create a database in MySQL, we use CREATE DATABASE database_name statement.

In [1]:
import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "dna_user",
    passwd = "dna_user"
)

## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

## creating a databse called 'Training'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'Training' database
cursor.execute("CREATE DATABASE Training1")

In [ ]:
#To see all the databases we use SHOW DATABASES statement.

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "dbms"
)

In [2]:

## executing the statement using 'execute()' method
cursor.execute("SHOW DATABASES")

## 'fetchall()' method fetches all the rows from the last executed statement
databases = cursor.fetchall() ## it returns a list of all databases present

## printing the list of databases
print(databases)

[('dna_dashboard',), ('dna_db',), ('dna_db_test',), ('focustraining',), ('information_schema',), ('moodle',), ('mysql',), ('performance_schema',), ('profiler',), ('sakila',), ('sys',), ('training',), ('training1',), ('world',)]

In [3]:

## showing one by one database
for database in databases:
    print(database)

('dna_dashboard',)
('dna_db',)
('dna_db_test',)
('focustraining',)
('information_schema',)
('moodle',)
('mysql',)
('performance_schema',)
('profiler',)
('sakila',)
('sys',)
('training',)
('training1',)
('world',)

In [4]:
#Use the CREATE TABLE table_name to create a table in the selected database.

import mysql.connector as mysql

db = mysql.connect(
    host = "localhost",
    user = "dna_user",
    passwd = "dna_user",
    database = "training1"
)

## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()
cursor.execute("CREATE TABLE users_new (name VARCHAR(255), user_name VARCHAR(255))")

In [9]:
## getting all the tables which are present in 'datacamp' database
cursor.execute("SHOW TABLES")

tables = cursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)

('users',)

In [5]:
## first we have to 'drop' the table which has already created to create it again with the 'PRIMARY KEY'
## 'DROP TABLE table_name' statement will drop the table from a database
cursor.execute("DROP TABLE users")

## creating the 'users' table again with the 'PRIMARY KEY'
cursor.execute("CREATE TABLE users (id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), user_name VARCHAR(255))")

In [6]:
## 'DESC table_name' is used to get all columns information
cursor.execute("DESC users")

## it will print all the columns as 'tuples' in a list
print(cursor.fetchall())

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'), ('name', 'varchar(255)', 'YES', '', None, ''), ('user_name', 'varchar(255)', 'YES', '', None, '')]

# Batch Execution of SQL

In [7]:

cursor = db.cursor()

## defining the Query
query = "INSERT INTO users (name, user_name) VALUES (%s, %s)"
## storing values in a variable
values = [
    ("Peter", "peter"),
    ("Amy", "amy"),
    ("Michael", "michael"),
    ("Hennah", "hennah")
]

## executing the query with values
cursor.executemany(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()

print(cursor.rowcount, "records inserted")

4 records inserted

In [9]:
## defining the Query
query = "SELECT * FROM users"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

records

[(1, 'Peter', 'peter'),
 (2, 'Amy', 'amy'),
 (3, 'Michael', 'michael'),
 (4, 'Hennah', 'hennah')]

In [10]:
## Showing the data
for record in records:
    print(record)

(1, 'Peter', 'peter')
(2, 'Amy', 'amy')
(3, 'Michael', 'michael')
(4, 'Hennah', 'hennah')

In [12]:
## defining the Query
query = "SELECT * FROM users WHERE id = 3"

## getting records from the table
cursor.execute(query)

## fetching all records from the 'cursor' object
records = cursor.fetchall()

## Showing the data
for record in records:
    print(record)

(3, 'Michael', 'michael')