# Python Dates
A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

https://docs.python.org/2/library/datetime.html

# Epoch
The Epoch is the point in time in Python from which time is measured. It is labelled 12:00AM, Jan 1, 1970. It is the beginning of an era.

In [55]:
import time

In [53]:
#If you wanted to import a single method from ‘time’, you would do it this way.

from time import time
time()

1586154709.1421177

In [56]:
time.localtime()

time.struct_time(tm_year=2020, tm_mon=4, tm_mday=6, tm_hour=6, tm_min=32, tm_sec=40, tm_wday=0, tm_yday=97, tm_isdst=0)

# Getting the Formatted Time

In [57]:
time.asctime()

'Mon Apr  6 06:33:39 2020'

In [58]:
time.clock()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  """Entry point for launching an IPython kernel.

4010.7761341

In [2]:
import datetime

x = datetime.datetime.now()
print(x)

2020-04-06 05:28:56.059475

The date contains year, month, day, hour, minute, second, and microsecond.

The datetime module has many methods to return information about the date object.

In [3]:
#Return the year and name of weekday:

import datetime
x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2020
Monday

To create a date, we can use the datetime() class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

In [4]:
#Create a date object:

import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

# The strftime() Method
The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

In [5]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

A reference of all the legal format codes:

Directive	Description	Example	Try it
%a	Weekday, short version	Wed	
%A	Weekday, full version	Wednesday	
%w	Weekday as a number 0-6, 0 is Sunday	3	
%d	Day of month 01-31	31	
%b	Month name, short version	Dec	
%B	Month name, full version	December	
%m	Month as a number 01-12	12	
%y	Year, short version, without century	18	
%Y	Year, full version	2018	
%H	Hour 00-23	17	
%I	Hour 00-12	05	
%p	AM/PM	PM	
%M	Minute 00-59	41	
%S	Second 00-59	08	
%f	Microsecond 000000-999999	548513	
%z	UTC offset	+0100	
%Z	Timezone	CST	
%j	Day number of year 001-366	365	
%U	Week number of year, Sunday as the first day of week, 00-53	52	
%W	Week number of year, Monday as the first day of week, 00-53	52	
%c	Local version of date and time	Mon Dec 31 17:41:00 2018	
%x	Local version of date	12/31/18	
%X	Local version of time	17:41:00	
%%	A % character	%

In [10]:
 from datetime import datetime, date, time
 # Using datetime.combine()
 d = date(2005, 7, 14)
 t = time(12, 30)
 datetime.combine(d, t)

datetime.datetime(2005, 7, 14, 12, 30)

In [11]:
 # Using datetime.now() or datetime.utcnow()
 datetime.now()

datetime.datetime(2020, 4, 6, 5, 37, 23, 349212)

In [13]:
# Using datetime.strptime()
dt = datetime.strptime("04/06/20 16:30", "%d/%m/%y %H:%M")
dt

datetime.datetime(2020, 6, 4, 16, 30)

In [15]:
#
# Example file for working with date objects
#
from datetime import date
from datetime import time
from datetime import datetime


today = date.today()  # get todays date
print("Today",today)
nyd = date(today.year, 1, 1)  # get New Year Day for the same year
# use date comparison to see if New Year Day has already gone for this year
# if it has, use the replace() function to get the date for next year
if nyd < today:
    print ("New Year day is already went by %d days ago" % ((today - nyd).days))

Today 2020-04-06
New Year day is already went by 96 days ago

In [22]:
from datetime import date
from datetime import time
from datetime import datetime
def main():
    ##DATETIME OBJECTS
    #Get today's date from datetime class
    today=datetime.now()
    #print today
    # Get the current time
    #t = datetime.time(datetime.now())
    #print "The current time is", t
    #weekday returns 0 (monday) through 6 (sunday)
    wd = date.weekday(today)
    #Days start at 0 for monday
    days= ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
    print ("Today is day number %d" % wd)
    print ("which is a " + days[wd])

if __name__== "__main__":
    main()

Today is day number 0
which is a monday

# Find the Difference Between Two Dates and Times

In [24]:
# import datetime
from datetime import date

# Create two dates
date1 = date(2020, 4, 1)
date2 = date(2020, 4, 10)

# Difference between two dates
delta = date2 - date1

print("Difference: ", delta.days)
print('delta object type: ', type(delta))

Difference:  9
delta object type:  <class 'datetime.timedelta'>

# Working with pandas Datetime Objects

We can convert date, time, and duration text strings into pandas Datetime objects using these functions:

to_datetime(): Converts string dates and times into Python datetime objects.
    
to_timedelta(): Finds differences in times in terms of days, hours, minutes, and seconds.

In [25]:
# import pandas module as pd
import pandas as pd

# create date object using to_datetime() function
date = pd.to_datetime("8th of sep, 2019")
print(date)

2019-09-08 00:00:00

In [26]:
#  Create date series using date_range() function
date_series = pd.date_range('08/10/2019', periods = 12, freq ='D')
print(date_series)

DatetimeIndex(['2019-08-10', '2019-08-11', '2019-08-12', '2019-08-13',
               '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17',
               '2019-08-18', '2019-08-19', '2019-08-20', '2019-08-21'],
              dtype='datetime64[ns]', freq='D')

# Get Year, Month, Day, Hour, Minute in pandas

In [27]:
# Create a DataFrame with one column date
df = pd.DataFrame()
df['date'] = date_series
df.head()

        date
0 2019-08-10
1 2019-08-11
2 2019-08-12
3 2019-08-13
4 2019-08-14

In [28]:
# Extract year, month, day, hour, and minute. Assign all these date component to new column.
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute
df.head()

        date  year  month  day  hour  minute
0 2019-08-10  2019      8   10     0       0
1 2019-08-11  2019      8   11     0       0
2 2019-08-12  2019      8   12     0       0
3 2019-08-13  2019      8   13     0       0
4 2019-08-14  2019      8   14     0       0

In [29]:
# get Weekday and Day of Year. Assign all these date component to new column.
df['weekday'] = df['date'].dt.weekday
df['day_name'] = df['date'].dt.weekday_name
df['dayofyear'] = df['date'].dt.dayofyear
df.head()

        date  year  month  day  hour  minute  weekday   day_name  dayofyear
0 2019-08-10  2019      8   10     0       0        5   Saturday        222
1 2019-08-11  2019      8   11     0       0        6     Sunday        223
2 2019-08-12  2019      8   12     0       0        0     Monday        224
3 2019-08-13  2019      8   13     0       0        1    Tuesday        225
4 2019-08-14  2019      8   14     0       0        2  Wednesday        226

# Convert Date Object into DataFrame Index

In [30]:
# Assign date column to dataframe index
df.index = df.date
df.head()

,date,year,month,day,hour,minute,weekday,day_name,dayofyear
date,,,,,,,,,
2019-08-10,2019-08-10,2019,8,10,0,0,5,Saturday,222
2019-08-11,2019-08-11,2019,8,11,0,0,6,Sunday,223
2019-08-12,2019-08-12,2019,8,12,0,0,0,Monday,224
2019-08-13,2019-08-13,2019,8,13,0,0,1,Tuesday,225
2019-08-14,2019-08-14,2019,8,14,0,0,2,Wednesday,226

In [48]:
import pandas as pd

df = pd.DataFrame({
    'name': ['alice','bob','charlie'],
    'date_of_birth': ['27/05/2001','16/02/1999','25/09/1998']
})

df['date_of_birth'] = pd.to_datetime(df['date_of_birth'],format='%d/%m/%Y')

In [39]:
df

      name date_of_birth
0    alice    2001-05-27
1      bob    1999-02-16
2  charlie    1998-09-25

# Filter rows where date in range

In [45]:
import pandas as pd
from datetime import date

date_from = pd.Timestamp(date(2000,1,1))
date_to = pd.Timestamp(date(2006,1,1))

# df is defined in the previous example

df = df[(df['date_of_birth'] > date_from ) & (df['date_of_birth'] < date_to)]

In [46]:
df

    name date_of_birth
0  alice    2001-05-27

# Group by year

In [50]:
# df is defined in the previous example

# step 1: create a 'year' column
df['year_of_birth'] = df['date_of_birth'].map(lambda x: x.strftime('%Y'))

df

      name date_of_birth year_of_birth
0    alice    2001-05-27          2001
1      bob    1999-02-16          1999
2  charlie    1998-09-25          1998

In [51]:
# step 2: group by the created columns
grouped_df = df.groupby('year_of_birth').size()

grouped_df

year_of_birth
1998    1
1999    1
2001    1
dtype: int64